.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 14px;
  font-family: 'Montserrat';
  color: hsl(228, 12%, 48%);
}
#wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 600px;
  height: 450px;
  background-color: white;
  border-radius: 1em;
}

#product {
  border-radius: 1em 0em 0em 1em;
}

#info {
  display: flex;
  width: 300px;
  margin: 40px;
  flex-direction: column;
  justify-content: space-between;
}

#info > * {
  margin: 0;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family: 'Fraunces';
}
.price > h1 {
  color: hsl(158, 36%, 37%);
  margin: 0;
}

.price > span {
  color: hsla(228, 12%, 48%, 0.5);
  text-decoration: line-through;
}

h3 {
  font-family: 'Montserrat';
  color: hsla(228, 12%, 48%, 0.5);
  font-size: 14px;
  letter-spacing: 4px;
}

#productname {
  font-family: 'Fraunces';
  color: hsl(212, 21%, 14%);
}

button {
  background-color: hsl(158, 36%, 37%);
  padding: 8px;
  color: white;
  border-radius: 8px;
  border-width: 0;
  font-family: 'Montserrat';
}
button > i {
  padding-right: 8px;
}